:root {
  --c-black: #000000;
  --c-semi-black: #0d0d0d;
  --c-red: red;
  --c-white: #ffffff;
  --c-graphite: #1a1a1a;
  --c-light-graphite: #f0f0f0;
  --c-grey-light: #adadad;
  --c-grey-medium: #424242;
  --c-static-black: #000000;
  --c-static-white: #ffffff;
  --c-static-graphite: #1a1a1a;
  --c-static-grey-light: #f0f0f0;
  --c-static-grey-medium: #3f3f3f;
  --c-graphite-hover: #3d3d3d;
  --c-primary: #ecb562;
  --c-secondary: #a239ca;
  --c-void: #0e0b16;
  --c-stark: #e7dfdd;

  --f-font-light: 'roobert-light';
  --f-font-regular: 'roobert-regular';
  --f-font-medium: 'roobert-medium';
  --f-font-semiBold: 'roobert-semibold';
  --f-font-bold: 'roobert-bold';
  --f-font-heavy: 'roobert-heavy';

  --s-border-radius: 0.3rem;
  --s-border-radius-card: 0.625rem;
  --s-font-h1: 3rem;
  --s-font-h2: 3rem;
  --s-font-h3: 2rem;
  --s-font-h4: 1.5rem;
  --s-font-p: 1rem;
  --s-font-small: 0.875rem;
  --s-font-semiSmall: 0.92rem;
  --s-font-cta: 1rem;
  --s-font-h1-mobile: 2rem;
  --s-font-h2-mobile: 2rem;
  --s-font-h3-mobile: 1.5rem;
  --s-font-h4-mobile: 1.3125rem;
  --s-margin-blocks: 8rem;
  --s-padding-lateral: 8rem;
  --s-padding-lateral-mobile: 1rem;
  --t-transition-button: 0.3s;
}
