.alert-enter-active,
.alert-leave-active {
  transition:
    transform 0.8s linear,
    opacity 1s linear;
}

.alert-enter-from,
.alert-leave-to {
  transform: translateX(200em);
  opacity: 0;
}

.alert-enter-to,
.alert-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.daynight-enter-active,
.daynight-leave-active {
  transition: all 0.5s ease;
}

.daynight-enter-from,
.daynight-leave-to {
  position: absolute;
  opacity: 0;
}

.daynight-enter-from {
  transform: translateX(1.875em);
}

.daynight-leave-to {
  transform: translateX(-1.875em);
}

.tabs__indicator {
  transition:
    transform 0.3s ease-in-out,
    width 0.3s ease-in-out;
}

.tabs__item {
  transition:
    opacity 0.3s ease-in-out,
    transform 0.2s ease-in-out,
    color 0.3s ease-in-out;
}

.tabs__item--active {
  transform: translateY(-0.1em) scale(1.05);
}

.expand-enter-active,
.expand-leave-active {
  transition:
    max-height 0.4s ease-in-out,
    opacity 0.3s ease-in-out;
}

.expand-enter-from,
.expand-leave-to {
  max-height: 0;
  opacity: 0;
}

.expand-enter-to {
  max-height: 5rem;
  opacity: 1;
}

.expand-leave-from {
  max-height: 5rem;
  opacity: 1;
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateY(0.625rem);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(-0.625rem);
}

.fade-tab-enter-active,
.fade-tab-leave-active {
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.fade-tab-enter-from {
  opacity: 0;
  transform: translateX(0.625rem);
}

.fade-tab-leave-to {
  opacity: 0;
  transform: translateX(-0.625rem);
}

.modal-slide-enter-active,
.modal-slide-leave-active {
  transition: transform 0.5s ease-in-out;
}

.modal-slide-enter-from,
.modal-slide-leave-to {
  transform: translateY(100vh);
}

.fade-pages-enter-active,
.fade-pages-leave-active {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.fade-pages-enter-from,
.fade-pages-leave-to {
  opacity: 0.3;
}